@page "/employees"
@using APHRC_Assigmnment.Shared.Models
@using Newtonsoft.Json
@inject HttpClient http
@inject NavigationManager navigationManager
<h3>Employees </h3>

<div class="form-group">
    <a class="btn btn-success" href="/employees/create">New Employee</a>
</div>

@if (Employees == null)
{
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
}
else if (Employees.Count == 0)
{
    <text>There are no records to show</text>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Contact</th>
                <th>Job Tittle</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                    <td>

                        @employee.FullName
                    </td>
                    <td>
                        @employee.Contact
                    </td>
                    <td>
                        @employee.JobTittle
                    </td>
                    <td>
                        <button class="btn btn-success" @onclick="@(() => editRow(employee))">Edit</button>
                        @{ var linenumber = Employees.IndexOf(employee);}
                        <button class="btn btn-success" @onclick="@(() => removeRow(employee))">Delete</button>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}


@code {
    List<Employee> Employees { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Employees = await http.GetFromJsonAsync<List<Employee>>("api/Employees");
    }

    private async Task removeRow(Employee emp)
    {
        var response = await http.PostAsJsonAsync("api/employees/delete", emp);

        if (response.IsSuccessStatusCode)
        {
            // success

            Employees.Remove(emp);
        }
    }
    private async Task editRow(Employee employ)
    {
        var item = JsonConvert.SerializeObject(employ).ToString();
        navigationManager.NavigateTo($"/Employee/edit/{item}");
    }

} 